/*!
  This is a modified version of Bootstrap.
  Bootstrap code comes first, customizations are at the end of the file.
*/


mytag {
	background-color:#c1a173 ;
    /*font-size: 24px; */
    color: #15a22; 

    border-style:double;
    /*border: 2px;a */
    border-color:#596032;
}

/* fc : font_color */
/*黄色：专业术语、定义、专有名词*/
fc-concept {
  color: #ffb800;
}

/*number and string*/
/*2. 橙色：模棱两可词汇、数字、符号*/
fc-ns {
  color: #eb6f2b;
}

/*3. 绿色：人名、书名、观点、看法、对话、引用 */
fc-others {
  color: #89c345
}

/*4. 蓝色：转折词、联结词、提示*/

fc-but {
  color: #68a7db
}

/*5. 靛色：方法、方式、技巧 */
fc-skill {
  color: #80a1e1;
}




/*
All phrase tags:

<em> 	Renders as emphasized text
<strong> 	Defines important text
<code> 	Defines a piece of computer code
<samp> 	Defines sample output from a computer program
<kbd> 	Defines keyboard input
<var> 	Defines a variable

pre ?:https://www.w3schools.com/tags/tag_pre.asp
picture?
*/

em {
  color: #ffb800;
}


strong {
  color : red;
  font-weight: bold;
  font-size: 106%;
}

code {
  color: #89c345;
}

var{
  color : blue;
  font-style: normal;
  /*
  border:red solid thin;
  */
  outline-style:solid;
  outline-width:thin;
  outline-color:red;
}


kbd{
  color: #80a1e1;
  font-size: 106%;
  box-shadow: inset 0 -2px 0 #c6cbd1;
  background-color: white;
}
/*
pre {
  color : red;
}

*/


a:link {color:#F30000;}    /* 未被访问的链接 */

/* 已被访问的链接 */
a:visited {
color:#C81E6EDE;
background-color: grey;
} 
a:hover {color:#F707EE;}   /* 鼠标指针移动到链接上 */
a:active {color:#F707EE;}  /* 正在被点击的链接 */
